@import "tailwindcss";
@font-face {
  font-family: "Inter";
  src: url("./assets/Inter.ttf") format("truetype");
}
:root {
}

* {
  font-family: Inter;
  box-sizing: border-box;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #161C31;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
