@import "tailwindcss";
@font-face {
  font-family: "Inter";
  src: url("./assets/Inter.ttf") format("truetype");
}
:root {
}

* {
  font-family: Inter;
  box-sizing: border-box;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #161C31;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.gradient-border{
  background: radial-gradient(circle at 100% 100%, #161c31 0, #161c31 23px, transparent 23px) 0% 0%/28px 28px no-repeat,
  radial-gradient(circle at 0 100%, #161c31 0, #161c31 23px, transparent 23px) 100% 0%/28px 28px no-repeat,
  radial-gradient(circle at 100% 0, #161c31 0, #161c31 23px, transparent 23px) 0% 100%/28px 28px no-repeat,
  radial-gradient(circle at 0 0, #161c31 0, #161c31 23px, transparent 23px) 100% 100%/28px 28px no-repeat,
  linear-gradient(#161c31, #161c31) 50% 50%/calc(100% - 10px) calc(100% - 56px) no-repeat,
  linear-gradient(#161c31, #161c31) 50% 50%/calc(100% - 56px) calc(100% - 10px) no-repeat,
  linear-gradient(209deg, #f30eff 0%, #48abe0 50%);
border-radius: 28px;
padding: 9px;
box-sizing: border-box;
}

.border-gradient {
  position: relative;
  border-radius: 8px;
  padding: 10px;
  /* background: #161C31; İç içe beyaz iç alan için */
}

.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* Border kalınlığı */
  border-radius: inherit;
  background: linear-gradient(to right, rgb(0, 122, 255), rgb(243, 14, 255));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}


